@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

td, th {
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: rgb(26, 25, 25)
}

.linktabela {
    text-decoration: none;
    font-weight: bolder;
}

.linktabela:hover {
    text-decoration: underline;
}

/* Tabela responsiva*/
div#container {
    overflow-x: auto;
}

#btn_tabela {
    font-weight: bold;
    color: rgb(10, 70, 138);
}

.user-name {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 3px;
}

#sidebarMenu {
    background-image: linear-gradient(-30deg, rgba(128, 128, 128, 0.623), rgba(172, 169, 169, 0.692), rgb(255, 251, 251))!important;
}

#btn-visualizar, #btn-editar {
    margin-right: 4px;
}

#btn-editar {
    color: rgb(107, 89, 19);
    border: 1px solid rgb(107, 89, 19);
}

#btn-editar:hover {
    color: black;
}